<!-- templates/about_us.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
</head>
<body>
    <header>
        <h1>Acerca de Nosotros</h1>
    </header>
    <section class="about-us">
        <h2>Nuestra Historia</h2>
        <p>Somos una pime que se dedica a hacer hamburguesas personalizadas. Nuestro local se situa en avenida quilin 1254 (direccion ficticia). Puedes hacer tus pedidos online y venir a retirarlos a la direccion.
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es mejorar el servicio mediante una aplicacion web y asi poder trabajar de manera eficiente</p>

        <h2>Valores</h2>
        <ul>
            <li>Integridad</li>
            <li>Higiene</li>
            <li>Compromiso</li>
            <li>Buen servicio al cliente</li>
        </ul>

        <h2>Equipo</h2>
        <p>Contamos con un grupo de tres desarrolladores para la continua mejora de la aplicacion en pos de un mejor servicio por parte de GoyoBurger.</p>
    </section>
</body>
</html>
