<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="{% static 'carrito.css' %}">
</head>
<body>

    <div class="container">
        <h1>Carrito</h1>
        {% if carrito.pedidos_guardados.all %}
        <ul class="pedido-lista">
            {% for pedido in pedidos %}
                {% ifchanged pedido.pedido.id %}
                    <h1>Pedido N°<span class="pedido-numero">{{ forloop.counter }}</span></h1>
                {% endifchanged %}
                <li class="ingredientes-lista">
                    <span class="ingrediente-nombre">{{ pedido.ingrediente.nombre }}</span> -
                    <span class="ingrediente-precio">${{ pedido.ingrediente.precio }}</span>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay ingredientes en tu carrito.</p>
        {% endif %}
        <h2>Costo Total: ${{ costo_total }} </h2>
        <form method="POST" action="{% url 'generar-boleta' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Confirmar Pedido</button>
        </form>
        <form action="{% url 'ingredientes' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Continuar comprando</button>
        </form>
        <form action="{% url 'home' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Volver a inicio</button>
        </form>
    </div>

    <script>
        // JavaScript para incrementar el número de pedidos en la sesión actual
        document.addEventListener("DOMContentLoaded", function() {
            const pedidoNumeroElements = document.querySelectorAll(".pedido-numero");
            let contador = 1;
            
            pedidoNumeroElements.forEach(function(element) {
                element.textContent = contador++;
            });
        });
    </script>

</body>
</html>
